
@media (max-width: 769px){
    .gamecontainer{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;

    }
    .gameImg{
        width: 100%;
    }
    .gameText h2{
        text-align: center;
    }
    
}